* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  nav {
    .navbar-brand {
      font-weight: 900;
      font-size: 40px;
    }
    .collapseDiv {
      justify-content: flex-end;
      ul {
        gap: 20px;
        li {
          .nav-link {
            font-size: 16px;
            font-weight: 400;
            color: black;
            &:hover {
              color: #f16821;
            }
          }
        }
      }
    }
  }
}

#shopWith {
  width: 100%;
  min-height: 650px;
  background-image: url("/assets/img/hero_2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .shopWithTxt {
    margin-left: 10%;
    h1 {
      font-size: 80px;
      font-weight: 900;
      color: white;
    }
    p {
      font-size: 20px;
      font-weight: 300;
      color: white;
    }
    .shopWithBtn {
      .shopBtn {
        width: 171px;
        height: 54px;
        font-size: 12px;
        font-weight: 900;
        background: transparent;
        color: white;
        border-color: white;
        &:hover {
          background-color: white;
          color: black;
        }
      }
      .clubBtn {
        width: 217px;
        height: 54px;
        font-size: 12px;
        font-weight: 900;
        border-color: white;
        &:hover {
          background: transparent;
          color: white;
        }
      }
    }
  }
}

#ourProducts {
  width: 100%;
  text-align: center;
  height: auto;
  margin-top: 5%;
  .ourProductsTxt {
    h6 {
      font-size: 13px;
      font-weight: 700px;
      color: #808080;
    }
    h1 {
      font-size: 40px;
      font-weight: 900;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      color: #808080;
    }
  }



  #product {
    margin: 3%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    font-weight: 600;
    color: rgb(157, 157, 157);
    .boxs {
      width: 250px;
      flex-wrap: wrap;
    }
    .divz {
      width:100%;
      img{
        width: 100%;
      }

      button {
        width: 100px;
        height: 50px;
        background-color: #000;
        color: white;
        border: none;
        margin-bottom: 10px;
        &:hover {
          background-color: #808080;
          color: white;
        }
      }
      img {
        width: 100%;
        height: auto;
      }
      .divc {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }

 
}

#aboutUs {
  width: 100%;
  margin-top: 10%;
  height: auto;
  .col-xl-8 {
    img {
      width: 100%;
    }
  }
  .col-xl-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h6 {
      font-size: 13px;
      font-weight: 700;
      color: #808080;
    }
    h1 {
      font-weight: 900;
      font-size: 30px;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      color: #808080;
    }
    button {
      width: 124px;
      height: 35px;
      font-size: 12px;
      font-weight: 900;
      color: white;
      background-color: black;
      border-color: black;
      &:hover {
        background: transparent;
        color: black;
        border-color: black;
      }
    }
  }
}

#leadership {
  width: 100%;
  text-align: center;
  margin-top: 10%;
  .leadershipTxt {
    h6 {
      color: #808080;
      font-size: 13px;
      font-weight: 700;
    }
    h1 {
      font-size: 40px;
      font-weight: 900;
    }
  }
  .container {
    margin-top: 4%;
    .col-xl-4 {
      img {
        width: 100%;
      }
      h2 {
        font-size: 18px;
        font-weight: 500;
        color: #808080;
      }
      h6 {
        font-size: 12px;
        font-weight: 400;
        color: #808080;
      }
      p {
        font-size: 16px;
        font-weight: 400px;
        color: #808080;
      }
      .leadershipIcon {
        display: flex;
        gap: 12px;
        width: 100%;
        justify-content: center;
        i {
          background-color: #808080;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50px;
          color: white;
          &:hover {
            background-color: black;
          }
        }
      }
    }
  }
}

#weOffer {
  width: 100%;
  height: auto;
  margin-top: 10%;
  .weOffertxt {
    text-align: center;
    h6 {
      font-size: 13px;
      font-weight: 700px;
      color: #808080;
    }
    h1 {
      font-size: 40px;
      font-weight: 900;
    }
  }
  .container {
    margin-top: 5%;
    .col-xl-4 {
      i{
        font-size: 30px;
      }
      .weOfferAbout {
        h5 {
          font-size: 20px;
          font-weight: 500;
          color: #808080;
        }
        p {
          font-size: 16px;
          color: #808080;
          font-weight: 400;
        }
        h6 {
          font-size: 16px;
          font-weight: 400;
          color: #f16821;
        }
      }
    }
  }
}



footer{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  h4{
    font-size: 16px;
    color: #808080;
  }
}

#header{
  position: static;
}




#productz {
  margin-top: 3%;
  display: flex;
  align-items: center;
  gap: 14px;
  width: 100%;
  height: auto;
  font-weight: 600;
  color: rgb(157, 157, 157);
  flex-wrap: wrap;

  .divz {
    flex-direction: column;
      text-align: center;
      width: 250px;
    img {
      width: 100%;
    }
    .divc {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    button {
      width: 130px;
      height: 50px;
      background-color: #000;
      color: white;
      border: none;
      &:hover {
        background-color: #DBCC8F;
        color: black;
      }
      margin: 3%;
    }
  }
}

@media (max-width: 772px) {
  #disp {
    display: none;
  }
  header .sellingNav {
    display: none;
  }
  #ourProducts .col-12 {
    flex-wrap: wrap;
  }
}



.col-12 {

  button {
    width: 130px;
    height: 50px;
    background-color: #000;
    color: white;
    border: none;
    &:hover {
      background-color: #808080;
      color: white;
      border: none;
    }
  }
}








#product {
  margin: 3%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  font-weight: 600;
  color: rgb(157, 157, 157);
  .boxs {
    width: 250px;
    flex-wrap: wrap;
  }
  .divz {
    width:100%;
    img{
      width: 100%;
    }

    button {
      width: 100px;
      height: 50px;
      background-color: #000;
      color: white;
      border: none;
      margin-bottom: 10px;
      &:hover {
        background-color: #808080;
        color: white;
      }
    }
    img {
      width: 100%;
      height: auto;
    }
    .divc {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}